
@{
    ViewBag.Title = "XzViews";
    Layout = "~/Views/Shared/LoginAfterLayOut.cshtml";
}

@* 这里我们使用我们的框架 *@
@section headerLinks
{
    <link href="~/Content/AdministartorRegister.css" rel="stylesheet" />
}
@section authority
{
    图书管理员
}
@section account
{
    1316279031
}
@section view
{
    <p>你暂无权限</p>
}

