body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
h1{
    background-color: #000000;
    background-image: url('../Img/creative-folk.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 100%;
    line-height: 2em;
    margin: 0;
}
.titleHead {
    width: 100%;
}
form {
    width: 20%;
    min-width: 300px;
    margin: 0 auto 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}
#ajaxUpdate {
    padding-top:80px;
}
fieldset {
    width: 100%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}
legend {
    text-align: center;
    margin: 5px;
    font-size: 2em;
    min-width: 200px;   
    color: #c0c0c0;
}
input[type="text"], input[type="password"]{
    width: 90%;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    font-size: 1.25em;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
}
select, textarea {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    font-size: 1.25em;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
}
textarea {
    width: 90%;
    resize: none;
}
input[type="submit"] {
    width: 100%;
    border-radius: 10px;
    display: block;
    font-size: 1.25em;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin-top: 10px;
    color: aliceblue;
    background-color: #4169e1;
    border: #4169e1;
    box-shadow: inset 2px 2px 50px #00bfff;
}
input[type="submit"]:hover {
    background-color: #00bfff;
    box-shadow: inset 2px 2px 50px #0000ff;
}
.error {
    color: #ff0000;
}
.modelWindow {
    display: none;
    position: absolute;
    z-index: 1000;
}
.window {
    width: 100%;
}
.modelWindow {
    width: 30%;
    font-size: 1.25em;
    min-width: 200px;
    background-color: #1e90ff;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
}
.close button {
    border: none;
    font-size: 1.25em;
    border-radius: 5px;
    background-color: #00bfff;
    box-shadow: inset 2px 2px 30px #ffffff;
    padding: 10px;
    float: right;
}
.close button:hover {
    background-color: #db7093;
    box-shadow: inset 2px 2px 30px #ffffff;
}
a {
    text-decoration: none;
    color: #1e90ff;
    display: block;
    float: right;
    margin: 2px;
}
a::after {
        content:"\2191";
        display: inline-block;
    /*制作三角形*/
        /*width: 0;
        height: 0;
        border: 8px solid transparent;
        border-left: 8px solid #AFABAB;
        position: relative;
        top: 2px;
        left: 5px;*/
}